# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Testing
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Docker volumes
pgdata/
